backports-abc==0.5
certifi==2017.11.5
click==6.7
Flask==0.12.2
Flask-Script==2.0.6
itsdangerous==0.24
Jinja2==2.9.6
livereload==2.5.1
MarkupSafe==1.0
pbr==3.1.1
singledispatch==3.4.0.3
six==1.11.0
stevedore==1.27.1
tornado==4.5.2
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.8.2
Werkzeug==0.12.2
