<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {% include ['includes/_head.html','includes/_metas.html'] %}
    {% endblock head %}
</head>
<body>
<header>{% block header %}{% endblock %}</header>
<div>{% block content %}{% endblock %}</div>
{% for item in items %}
    <li>{% block loop_item scoped %}{{ item }}{% endblock %}</li>
{% endfor %}
<footer>
    {% block footer %}
        Copyright 2017 by <a href="ray.dotnetage.com">Ray</a>
    {% endblock %}
</footer>
</body>
</html>