{% extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
    {% include ['includes/_head.html','includes/_metas.html'] %}
{% endblock head %}
{% block styles %}
    {{ super() }}

    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/cerulean/bootstrap.min.css" rel="stylesheet">
    {#   最新的没有效果 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.2/cerulean/bootstrap.min.css"/>#}
    {#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>#}
{% endblock styles %}
{% block navbar %}
{#    {{ nav.top.render() }}#}
    {% include 'includes/_navbar.html' %}
{% endblock %}
{% block content %}
    <header>{% block header %}{% endblock %}</header>
{% endblock content %}
{% block footer %}
    <footer>
        Copyright 2017 by <a href="ray.dotnetage.com">Ray</a>
    </footer>
{% endblock %}